



body{
    
    color: white;
    padding: 0;
    margin:auto;
    
}
.header{
    float: right;
    padding-right: 15px;
    font-size: 18px;
}
.nav_item{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    
    border: none;
    outline: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);    
    color: white;
    
}
.nav_item:hover{
    background-color:#04AA6D ;
}
.depature_information{
    text-align: center;
    color: black;
    
}
.depature_date{
    text-align: center;
    color: black;
    display: inline;
    
    
}
#depature_date{
    margin: 10px;
}


.fieldset_table{
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;    
    margin: auto;
}
        

.depature_table{
    font-size: 25px;
    padding: 20px;
    tab-size: 500px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;      
    
}
.depature_table tr{
    height: 50px;
}
/* .depature_table tbody tr:hover{
    background-color: white;
    color: black;
} */
.depature_table th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(0, 0, 0);
    
    
}
.depature_table button{
    width: 80%;
    font-size: 20px;
    height: 40px;
    border: none;
    background-color: #04AA6D;
}
tbody button{
    color: white;
}
tbody button:hover{
    background-color:  white;
    color: black;
    
    
}