body{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.header{
    float: left;
    padding-left: 15px;
    font-size: 18px;
}
.nav_item{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    
    border: none;
    outline: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);    
    color: white;
    
}
.nav_item:hover{
    background-color:#04AA6D ;
}
.search{
    
    
    padding: 20px;
    width: 80%;
}
.search_button{
    font-family:  sans-serif;
    margin-left: 50px;
    margin-top: 10px;
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 4px;  
    padding-left: 0px;  
    color:white;
    background-color:#6495ED;
    
    
}
.search_button:hover{
    background: rgba(0, 0, 0, 0.5);
    color:white;
}
.from{
    width: 300px;  
    height: 30px;        
    border-radius: 3px;  
    padding-left: 8px;
}
.to{
    width: 300px;  
    height: 30px;       
    border-radius: 3px;  
    padding-left: 8px;
}
.fieldset_table{
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;    
    margin: auto;
}
        

.depature_table{
    font-size: 25px;
    padding: 20px;
    tab-size: 500px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;    
    color: white;  
    
}
.depature_table tr{
    height: 50px;
}
.depature_table tbody tr:hover{
    background-color: white;
    color: black;
}
.depature_table th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    
    
}
.depature_table button{
    width: 100%;
    font-size: 20px;
    height: 50px;
    border: none;
    
}
.depature_table button :hover{
    background-color: white;
}